<div>
    <h2 id="page-heading" data-cy="StudentCursHeading">
      <span>Student Curs</span>

      <div class="d-flex justify-content-end">
        <button
          class="btn btn-info me-2"
          (click)="loadAll()"
          [disabled]="isLoading"
        >
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span>Refresh List</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-student-curs"
          [routerLink]="['/student-curs/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span> Create a new Student Curs </span>
        </button>
      </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div
      class="alert alert-warning"
      id="no-result"
      *ngIf="studentCurs?.length === 0"
    >
      <span>No studentCurs found</span>
    </div>

    <div
      class="table-responsive"
      id="entities"
    >
      <div *jhiHasAnyAuthority="['ROLE_STUDENT']" style="float: left;"> Media: {{averageGrade}}</div>
          <div class="col-md-4 text-right" style="float: right;">
              <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
              <select aria-label="Default select example"
              [(ngModel)]="selected"
              (change)="loadAll()"
              >
                <option value="default">Toti anii</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
              </select>
          </div>

        <table
        class="table table-striped" aria-describedby="page-heading"
        mdbTable
        mdbTableSort
        *ngIf="studentCurs && studentCurs.length > 0"
  >
        <thead>
          <tr>
            <th scope="col"><span>Nota</span></th>
            <th scope="col"><span>Student</span></th>
            <th scope="col"><span>Curs</span></th>
            <th scope="col"><span>An Scolar</span></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let studentCurs of studentCurs; trackBy: trackId"
                data-cy="entityTable">
                <td>{{ studentCurs.nota }}</td>
                <td>
                    <div *ngIf="studentCurs.student">
                        <a [routerLink]="['/student', studentCurs.student?.id, 'view']">
                            {{
                  studentCurs.student?.nume
                            }}
                        </a>
                    </div>
                </td>
                <td>
                    <div *ngIf="studentCurs.curs">
                        <a [routerLink]="['/curs', studentCurs.curs?.id, 'view']">
                            {{
                  studentCurs.curs?.nume
                            }}
                        </a>
                    </div>
                </td>
                <td>{{ studentCurs.anScolar }}</td>
                <td class="text-end">
                    <div class="btn-group">
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SECRETAR', 'ROLE_PROFESOR']"
                                type="submit"
                                [routerLink]="['/student-curs', studentCurs.id, 'view']"
                                class="btn btn-info btn-sm"
                                data-cy="entityDetailsButton">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>

                        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SECRETAR', 'ROLE_PROFESOR']"
                                type="submit"
                                [routerLink]="['/student-curs', studentCurs.id, 'edit']"
                                class="btn btn-primary btn-sm"
                                data-cy="entityEditButton">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>

                        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SECRETAR']"
                                type="submit"
                                (click)="delete(studentCurs)"
                                class="btn btn-danger btn-sm"
                                data-cy="entityDeleteButton">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
